<div class="text-center">
  <p><%= l Time.zone.today, format: :long %></p>
  <p><%= @jogos.size %>
    jogos encontrados</p>
</div>

<%= form_with model: @consulta_form, url: root_path, method: "get", scope: "jogo" do |f| %>
  <div class="grid">
    <div>
      <%= f.label :data %>
      <%= f.date_field :data, onchange: "this.form.requestSubmit()" %>
    </div>

    <div>
      <%= f.label :banca %>
      <%= f.select :banca, @consulta_form.combo_bancas,
        { include_blank: true },
        { onchange: "this.form.requestSubmit()" } %>
    </div>
  </div>

<% end %>

<table role="grid">
  <thead>
    <tr>
      <th scope="col">
        Data
        <div>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "data", sort_order: "asc")) do %>
            &#9650;
          <% end %>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "data", sort_order: "desc")) do %>
            &#9660;
          <% end %>
        </div>
      </th>
      <th scope="col">
        Horário
        <div>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "horario", sort_order: "asc")) do %>
            &#9650;
          <% end %>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "horario", sort_order: "desc")) do %>
            &#9660;
          <% end %>
        </div>
      </th>
      <th scope="col">
        Jogo
        <div>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "descricao", sort_order: "asc")) do %>
            &#9650;
          <% end %>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "descricao", sort_order: "desc")) do %>
            &#9660;
          <% end %>
        </div>
      </th>
      <th scope="col">
        Odd1
        <div>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "odd1", sort_order: "asc")) do %>
            &#9650;
          <% end %>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "odd1", sort_order: "desc")) do %>
            &#9660;
          <% end %>
        </div>
      </th>
      <th scope="col">
        OddX
        <div>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "oddx", sort_order: "asc")) do %>
            &#9650;
          <% end %>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "oddx", sort_order: "desc")) do %>
            &#9660;
          <% end %>
        </div>
      </th>
      <th scope="col">
        Odd2
        <div>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "odd2", sort_order: "asc")) do %>
            &#9650;
          <% end %>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "odd2", sort_order: "desc")) do %>
            &#9660;
          <% end %>
        </div>
      </th>
      <th scope="col">
        Banca
        <div>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "banca", sort_order: "asc")) do %>
            &#9650;
          <% end %>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "banca", sort_order: "desc")) do %>
            &#9660;
          <% end %>
        </div>
      </th>
      <th scope="col">
        Palpite
        <div>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "palpite", sort_order: "asc")) do %>
            &#9650;
          <% end %>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "palpite", sort_order: "desc")) do %>
            &#9660;
          <% end %>
        </div>
      </th>
      <th scope="col">
        Dupla Hipótese
        <div>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "dupla_hipotese", sort_order: "asc")) do %>
            &#9650;
          <% end %>
          <%= link_to root_path(jogo: @consulta_form.merge_query_params(sort_field: "dupla_hipotese", sort_order: "desc")) do %>
            &#9660;
          <% end %>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @jogos.each do |jogo| %>
      <tr>
        <td><%= jogo.data %></td>
        <td><%= jogo.horario %></td>
        <td><%= jogo.descricao %></td>
        <td><%= jogo.odd1 %></td>
        <td><%= jogo.oddx %></td>
        <td><%= jogo.odd2 %></td>
        <td><%= jogo.banca %></td>
        <td><%= jogo.palpite %></td>
        <td><%= jogo.dupla_hipotese %></td>
      </tr>
    <% end %>
  </tbody>
</table>
